* { 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
	font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgb(19, 161, 255), white);
}

.weather {
    margin: 1.5rem 0 8rem 1.5rem;
    color: rgba(0, 0, 0, 0.432);
}

.contenido {
    display: flex;
    flex-flow: column wrap;
	justify-content: center;
	align-content: center;
}

blockquote {
    font-style: italic;
    border: none;
    quotes: "\201C" "\201D" "\2018" "\2019";
    display: block;
    text-align: center;
  }
  
blockquote:before {
  content: open-quote;
  color: grey;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  content: close-quote;
  color: grey;
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.5em;
}

blockquote p {
  display: inline;
}

.jokes {
    height: auto;
    width: 750px;
    min-height: 450px;
	margin: 0 2rem;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 15px;
    box-shadow: 0px 15px 30px #15228546;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bienvenida {
    margin-top: 3rem;
    text-align: center;
    color: #07a1e9cb;
    text-shadow: 0px 3px 6px #15228546;
}

.chiste {
    margin: 2rem 8rem;
    line-height: 1.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #014a6be1;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

.pscore {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    border:none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #15228546;
	transition: transform .25s, opacity .25s;
	opacity: .9;
}

.pscore:active {
	background-color: #0784be7c;
    box-shadow: 0px 0px 2px #15228546;
}

.pscore:hover {
    transform: rotate(360deg);
}

#btn_score_1 {
     background-color: rgb(255, 114, 118);
}

#btn_score_1:active {
    background-color: rgb(253, 74, 80);
}

#btn_score_2 {
    background-color: rgb(255, 205, 138);
}

#btn_score_2:active {
    background-color: rgb(255, 170, 77);
}

#btn_score_3 {
    background-color: rgb(169, 238 , 138);
}

#btn_score_3:active {
    background-color: rgb(68, 214 , 44);
}

#btn_next {
    width: auto;
    min-width: 200px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    align-self: center;
    border-radius: 15px;
	background-color: #07a1e9;
	color: white;
	font-weight: bold;
    font-size: 1.1rem;
	padding: 1rem 1rem;
	cursor: pointer;
    border: none;
    box-shadow: 0px 5px 10px #15228546;
}

#btn_next:hover {
	background-color: #07a1e97c;
}

#btn_next:active {
	background-color: #0784be7c;
    box-shadow: 0px 3px 5px #15228546;
}

@media (max-width: 800px) {

    html, body { 
        overflow: auto;
    }

    .jokes {
        height: auto;
        width: auto;        
        margin: 0 2rem;
    }

    .chiste {
        margin: 2rem 2rem;
    }

    .bienvenida {
        margin: 2rem 1.5rem 0rem 1.5rem;
    }
}

